body {
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

h3 {
  margin-top:30px;
}

img {
  border-radius: 5px;
}

.footer {
  text-align: center;
  color:#aaa;
}

code {
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  border:0;

}

.quadro_cinza {
  text-align:center;
  font-size:1.3em;
  font-weight:bold;
  border:1px solid #ccc;
  background: #eee;
  padding:10px;
  margin: 10px 0;
}

.quadro_cinza td {
  padding:10px;
}

.deslocado {
  float:left;
  margin: 5px 20px 20px -20%;
}

#paymeacoffee img {
  width: 200px;
  margin: 20px 0;
}