---
layout: default
title: 
---

<div class="hero-unit" style='background:white; border-bottom:1px solid #ddd; padding-right:0;margin-right:0;'>
  <h1 style='font-size:90px; text-align:right; margin-right:0;'>
    Simples Música
    <!--small>um subtítulo aqui</small-->
  </h1>
</div>

<div class="row-fluid">

  <article class="span8">

    <span></span>
    
    {% for post in site.posts limit: 10  %}
        
        <div class="span3" style="padding:20px 10px 10px 10px;">
          <img src="{{post.img_capa}}" />
        </div>
        
        <div class="span8">
          
        	<header>
        	  <h2>
        	    <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration:none">{{ post.title }}</a>
        	    <span style="font-size:0.4em; color:#ccc">{{ post.date | date: "%d/%m/%Y" }}</span>
        	  </h2>
        	</header>

        	<section class="entry" style="font-size:1.2em; color:#999; margin-bottom:40px">{{ post.description }}</section>
        	
        </div>

      {% endfor %}
  
  </article>
  
  <aside class="span4" style='padding:5px;'>
    
    <div style='margin: 10px 0 40px 0'>
      <a href="{{ site.baseurl }}/pages/about.html">Sobre o Simples Música</a>
    </div>
    
    <div style='margin-bottom:40px'>
      {% include form_assinar.md %}
    </div>
    
    {% include share.md %}
    
  </aside>

</div>