<!DOCTYPE html>
<html>
  <head>
    
    <title>{% if page.title %} {{ page.title }} - {% endif %} Simples Música</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta name="title" content="{{ page.title }}" />
    {% endif %}
    
    {% if page.description %}
    <meta property="og:description" content="{{ page.description }}">
    <meta name="description" content="{{ page.description }}" />
    
    {% endif %}
    
    {% if page.img_capa %}
    <meta property="og:image" content="{{ page.img_capa }}">
    <link rel="image_src" href="{{ page.img_capa }}" />
    {% endif %}
    
    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/simplesmusica" title="Atom feed">
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ site.url }}/css/simplesmusica.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    
    {% if page.url == '/2013/04/07/o-melhor-tom.html' %}
      <!-- Load the Content Experiment JavaScript API client for the experiment -->
      <!-- ref: https://developers.google.com/analytics/solutions/experiments-client-side -->
      <script src="//www.google-analytics.com/cx/api.js?experiment=EAJbDTdTRJmXgCgw8ASSpQ"></script>
      <script type="text/javascript" charset="utf-8">
        var chosenVariation = cxApi.chooseVariation();
        $(function(){
          if (chosenVariation == 1) {
            $('#pitch').text('Aprenda música sozinho!');
          }
        })
      </script>
    {% endif %}
    
  </head>
  <body>
    
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container-fluid">
      
      <div class="row-fluid">
        
        <div class="span10 offset1" style='min-height:550px'>
          {{ content }}
        </div>
        
        <footer class='footer span10 offset1'>
          <hr/>
          <p>
            
            <a href="/">
              Início
            </a>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/about.html">
              Sobre o SimplesMúsica
            </a>
          </p>
        </footer>
        
      </div>
      
    </div>
    
    <script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37784312-1']);
      _gaq.push(['_trackPageview']);
      
      setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])", 15000);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
  </body>
</html>

