<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %} {{ page.title }} - {% endif %} Simples Música</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ site.baseurl }}//css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}//css/simplesmusica.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="container-fluid">
      
      <div class="row-fluid">
        
        <div class="span10 offset1" style='min-height:550px'>
          {{ content }}
        </div>
        
        <footer class='footer span10 offset1'>
          <hr/>
          <p>Um rodapé aqui</p>
        </footer>
        
      </div>
      
    </div>
    
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ site.baseurl }}//js/bootstrap.min.js"></script>
    
  </body>
</html>

